h1{
    margin:0px;
    display: flex;
    width: 100%;
    height: 8vh;
    font-size: 48px;
    font-weight: 400;
    background-image: linear-gradient( to right, black,gray);
    align-items: center;
    justify-content: center;
    color: rgba(250,250,250,1.0);
    
}