<dx-button text="Click me" (onClick)="helloWorld()">
</dx-button>
<div class="buttons-column">
  <div>
    <dx-button
      stylingMode="contained" 
      text="Contained" 
      type="normal" 
      [width]="120" 
      (onClick)="click($event)">
    </dx-button>
  </div>

  <div>
    <dx-button 
      stylingMode="outlined" 
      text="Outlined" 
      type="normal" 
      [width]="120" 
      (onClick)="click($event)">
    </dx-button>
  </div>

  <div>
    <dx-button 
      stylingMode="text" 
      text="Text" 
      type="normal" 
      [width]="120" 
      (onClick)="click($event)">
    </dx-button>
  </div>
</div>


<div class="buttons-column">
  <div class="column-header"> Success </div>
  <div>
    <dx-button 
      stylingMode="contained" 
      text="Contained" 
      type="success" 
      [width]="120" 
      (onClick)="click($event)">
    </dx-button>
  </div>

  <div>
    <dx-button 
      stylingMode="outlined" 
      text="Outlined" 
      type="success" 
      [width]="120" 
      (onClick)="click($event)">
    </dx-button>
  </div>

  <div>
    <dx-button 
      stylingMode="text" 
      text="Text" 
      type="success" 
      [width]="120" 
      (onClick)="click($event)">
    </dx-button>
  </div>
</div>

<div class="buttons-column">
  <div class="column-header"> Danger </div>
  <div>
    <dx-button 
      stylingMode="contained" 
      text="Contained" 
      type="danger" 
      [width]="120" 
      (onClick)="click($event)">
    </dx-button>
  </div>
  <div>
    <dx-button 
      stylingMode="outlined" 
      text="Outlined" 
      type="danger" 
      [width]="120" 
      (onClick)="click($event)">
    </dx-button>
  </div>
  <div>
    <dx-button 
      stylingMode="text" 
      text="Text" 
      type="danger" 
      [width]="120" 
      (onClick)="click($event)">
    </dx-button>
  </div>
</div>